[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/rutgermeuzelaar/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/rutgermeuzelaar/ft_printf.git
